{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="block-header">
    <h1 class="block-header--title">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="task-list">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for card in cards %}          
            <li class="list-item">  {# add status in #}
              <form action="/update" method="post" class="task">
                <div class="task-name--{{card.class_name}}">{{card.name}}</div>
                <input type='hidden' name="card-id" value = {{ card.id }}>
                <input type='hidden' name="card-status" value = "{{card.status}}">
                <input class="task-status task-status--{{card.class_name}}" type="submit" value="{{card.status}}"></input>
              </form>
              <div class="task-description">{{card.description}}</div>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="block-header">
    <div class="col-md-12">
      <h2>Add tasks</h2>
      <form action="/submit" method="post">
        <label for="task">task description:</label>
        <input type="text" id="task" name="task-name" required></input><br>
        <input class="submit-button" type="submit"></input>
      </form>
    </div>
  </div>
{% endblock %}