{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="block-header">
    <h1 class="block-header--title">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="task-list">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for card in cards %}          
            <li class="list-item">  {# add status in #}
              <div class="task">
                <div class="task-name--{{card.class_name}}">{{card.name}}</div>
                <div class="task-status task-status--{{card.class_name}}">{{card.status}}</div>
              </div>  
              {# <form action="/update" method="post"> #}
                {# <label for="complete">{{ item.title }}</label> #}
                {# <input type='hidden' id="complete" name="item-id" value = {{ item.id }}> #}
                {# <input type="checkbox" onChange='submit()' {% if item.status == "Complete" %} checked {% endif %}> #}
              {# </form> #}
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="block-header">
    <div class="col-md-12">
      <h2>Add tasks</h2>
      <form action="/submit" method="post">
        <label for="task">task description:</label>
        <input type="text" id="task" name="task-name" required></input><br>
        <input class="submit-button" type="submit"></input>
      </form>
    </div>
  </div>
{% endblock %}