{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li class="list-item">
          <form action="/update" method="post">
            <label for="complete">{{ item.title }}</label>
            <input type='hidden' id="complete" name="item-id" value = {{ item.id }}>
            <input type="checkbox" onChange='submit()' {% if item.status == "Complete" %} checked {% endif %}>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Add tasks</h2>
      <form action="/submit" method="post">
        <label for="task">task description:</label>
        <input type="text" id="task" name="task-name"></input><br>
        <input type="submit"></input>
      </form>
    </div>
  </div>
{% endblock %}